body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #202122;
}

#header {
    background-color: #f6f6f6;
    border-bottom: 1px solid #a2a9b1;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#container {
    display: flex;
}

#sidebar {
    width: 200px;
    background-color: #f8f9fa;
    border-right: 1px solid #a2a9b1;
    padding: 15px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar a {
    text-decoration: none;
    color: #0645ad;
}

#content {
    flex: 1;
    padding: 20px;
}